---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
sitemapExclude: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.sitemapPages %}
  <url>
    <loc>{{ page.url | absoluteUrl(site) }}</loc>
    <lastmod>{{ page.inputPath | fileLastMod }}</lastmod>
    {%- if page.url == '/' %}
    <priority>1.0</priority>
    {%- else %}
    <priority>0.5</priority>
    {%- endif %}
  </url>
{%- endfor %}
</urlset>
